DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^admin/?$ /admin/index.php [L]
  RewriteRule ^linki/?$ /linki.html [L]
  RewriteRule ^brunch/?$ /brunch.html [L]
</IfModule>
